* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(13, 12, 12);
}
#tela-pokedex {
    display: none;
}


.card-poke {
    position: relative;
}

#imagem-fundo {
    width: 100%;
    display: block;
}

#tela-inicial video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#hp {
    position: absolute;  
    top: 400px;       
    left: 810px;     
}
#tipo {
    position: absolute;
    top: 100px;
    left: 100px;
}

#ataque {
    position: absolute;
    top: 100px;
    left: 100px;
}

#velocidade {
    position: absolute;
    top: 100px;
    left: 1000px;
}